/* sections/shop-by-category.liquid */

/* Base Styles */
.shop-by-category {
  display: block;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);

}

.shop-by-category__container {
  display: flex;
  align-items: center;
  gap: 162px;
  border-radius: 0;
  height: fit-content;
}

.shop-by-category__image-wrapper {
  order: 2;
  width: 45%;
  /* flex: 1; */
  display: flex;
  height: min-content;
  /* aspect-ratio: 1; */
  align-items: center;
  justify-content: center;
  /* min-width: 650px; */
  /* width: 100%; */
  overflow: hidden;
}

.shop-by-category__image-wrapper.blank {
  background: rgb(var(--color-foreground), 0.04);
}

.shop-by-category__featured-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  object-position: top;
}

.shop-by-category__content {
  /* flex: 1; */
  font-family: 'Montserrat';
  width: 76%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  min-width: 0;
  color: white;
}

.shop-by-category__title {
  font-family: 'Montserrat';
  margin: 0;
  font-weight: 500;
  font-size: 48px;
}

.shop-by-category__subheading {
  opacity: 0.8;
  font-family: 'Montserrat';
  margin: 0;
  font-size: 20px;
  font-weight: 100;
  /* line-height: 1.6; */
}

.shop-by-category__button {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 16px;
  font-family: 'Montserrat';
  width: fit-content;
  text-transform: uppercase;
  font-weight: 100;
  text-decoration: none;
  color: rgb(var(--color-button-text));
  background: rgb(var(--color-button));
  border-radius: 34px;
  transition: opacity 0.3s ease;
  text-align: center;
}

.shop-by-category__button:hover {
  opacity: 0.9;
}

/* Mobile (max-width: 749px) */
@media screen and (max-width: 749px) {
  .shop-by-category__container {
    flex-direction: column;
    gap: 42px;
  }

  .shop-by-category__image-wrapper {
    min-width: unset;
    width: 74%;
  }

  .shop-by-category__content {
    width: 100%;
    padding: 0 8px;
  }

  .shop-by-category__title {
    font-size: 32px;
    letter-spacing: 0;
    font-weight: 400;
  }

  .shop-by-category__subheading {
    font-size: 16px;
  }

  .shop-by-category__button {
    width: 100%;
    padding: 1.4rem 2.4rem;
    font-size: 1.4rem;
  }
}
