/* sections/promo-banner.liquid */

/* Base Styles */
.promo-banner__container {
  height: 500px;
  display: flex;
  align-items: center;
  /* gap: 4rem; */
  border-radius: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* padding: 4rem; */
  background-color: #F6F1ED;
  background-image: var(--promo-banner-bg-desktop);
}

.promo-banner__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  min-width: 0;
  padding-left: 60px;
  padding-right: 60px;
}

.promo-banner__title {
  font-family: 'Montserrat';
  margin: 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.2;
  color: rgba(var(--color-foreground), 1);
}

.promo-banner__description {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}

.promo-banner__button-link {
  text-decoration: none;
  display: inline-block;
  align-self: flex-start;
}

.promo-banner__button {
  font-family: 'Montserrat';
  width: 245px;
  height: 48px;
  padding: 16px 28px;
  letter-spacing: 0.7px;
  font-size: 16px;
  font-weight: 300;
  color: #F6F1ED;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 34px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  background-color: rgb(var(--color-button));
  color: rgb(var(--color-button-text));
  display: inline-block;
  text-decoration: none;
}

.promo-banner__button:hover {
  opacity: 0.9;
}

.promo-banner__image-wrapper {
  flex: 1;
  display: flex;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  min-width: 0;
  width: 100%;
  overflow: hidden;
  max-height: var(--promo-banner-image-height);
}

.promo-banner__image-wrapper.blank {
  background-color: #f5f5f5; /* Placeholder Background */
}

.promo-banner__image {
  width: 100%;
  height: 100%;
  object-fit: var(--promo-banner-image-fit);
  display: block;
  object-position: left;
}

/* Desktop (750px+) - Layout */
@media screen and (min-width: 750px) {
  .promo-banner__container {
    flex-direction: var(--promo-banner-image-placement, row);
  }

  .promo-banner__content {
    max-width: 50%;
  }

  .promo-banner__image-wrapper {
    max-width: 50%;
  }
}

/* Tablet (750px to 1024px) - Font Sizes */
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .promo-banner__title {
    font-size: 3.4rem;
  }

  .promo-banner__description {
    font-size: 1.5rem;
  }

  .promo-banner__button {
    font-size: 1.5rem;
  }
}

/* Mobile (max-width: 749px) */
@media screen and (max-width: 750px) {
  .promo-banner__container {
    flex-direction: column;
    /* gap: 2rem; */
    align-items: center;
    /* padding: 2rem; */
    background-image: var(--promo-banner-bg-mobile, var(--promo-banner-bg-desktop));
  }

  .promo-banner__content {
    flex:unset;
    display: block;
    max-width: 100%;
    order: 1;
    padding: 0;
    text-align: center;
    padding-top: 50px;
  }

  .promo-banner__image-wrapper {
    max-width: 100%;
    order: 2;
  }
  .promo-banner__image{
    object-position: var(--promo-banner-image-position);
  }

  .promo-banner__title {
    font-size: 2.8rem;
  }

  .promo-banner__description {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    margin: 12px 0;
    padding: 0 20px;
    text-wrap: unset;
  }

  .promo-banner__button {
    /* width: 100%;
    font-size: 1.4rem;
    padding: 1.4rem 2.4rem; */
    width: 245px;
    height: 48px;
    padding: 16px 28px;
    letter-spacing: 0.7px;
    font-size: 16px;
    align-items: center;
  }
}
