/* sections/brand-showcase.liquid */
.brand-showcase {
  display: block;
  width: 100%;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  position: relative;
}

.brand-showcase__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  gap: 24px;
}

.brand-showcase__logo-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.brand-showcase__logo-top img {
  max-width: 300px;
  max-height: 80px;
  width: auto;
  height: auto;
  object-fit: contain;
}

.brand-showcase__logo:nth-child(3) img {
  object-fit: contain;
}


.brand-showcase__text {
  font-family: 'Montserrat';
  font-size: 32px;
  margin: 0;
  max-width: 1200px;
  color: #202123;
  /* color: rgba(var(--color-foreground), 0.8); */
}

.brand-showcase__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
}

.brand-showcase__logo {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  height: 48px;
}

.brand-showcase__logo img {
  min-width: 100px;
  min-height: 48px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 749px) {
  .brand-showcase__container {
    padding: 0;
    gap: 28px;
    align-items: stretch;
  }
  .brand-showcase__logo img {
    /* min-width: 83px; */
    min-width: 83px;
    /* object-fit: unset; */
    /* min-width: unset; */
    min-height: unset;
  }

  .brand-showcase__text {
    font-size: 20px;
    padding: 0 10px;
  }
  
  .brand-showcase__logos{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    width: 100%;
    /* padding-left: 20px;
    padding-right: 20px; */
    justify-content: flex-start;
    gap: 16px;
  }

  .brand-showcase__logos::-webkit-scrollbar {
    display: none;
  }

  .brand-showcase__logo {

    height: 40px;
    flex-shrink: 0;
    scroll-snap-align: start;
  }
  
  .brand-showcase__logo:last-child {
    margin-right: 0;
    padding-right: 20px;
  }
}

